html {
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color:rgb(25,25,25);
  color:#fff;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  text-align: left;
}

td {
  padding: 0.5rem;
}

tbody tr:nth-child(odd) {
  background-color: rgb(50,50,50);
}

.form {
  margin-top: 2rem;
  text-align: right;
  padding: 0 1rem;;
}


.form button{
  margin-top: 2rem;
  font-size: 1.2rem;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.08em solid rgb(125, 125, 125);
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration:none;
  color:rgb(200,175,30);
  background-color: rgba(130, 15, 15, 0.9);
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
}
